# --- General ---
.DS_Store
*.log
.vs/
.idea/
.vscode/

# --- Node ---
node_modules/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- .NET ---
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
.dotnet/
appsettings.Local.json
appsettings.local.json
